*.pyc
.idea
venv-win
venv
venv37
.env
dist
build/*
neofox.egg-info/
neofox/tests/resources/output*
neofox/tests/resources/test_installation*
**/dask-worker-space
docs/build
.ipynb_checkpoints
neofox-dask-report*
.tox
venv*
py36
/netMHCIIpan-3.2.Linux.tar.gz
/netMHCIIpan-4.0.Linux.tar.gz
/netMHCpan-4.1b.Linux.tar.gz
neofox.log