include neofox/predictors/neoag/neoag-master/*
include neofox/self_similarity/BLOSUM62-2.matrix.txt
include neofox/annotation_resources/gtex/gtex_combined.csv.gz
include neofox/annotation_resources/nmer_frequency/20181108_4mer_freq.csv
include neofox/annotation_resources/nmer_frequency/20181108_AA_freq_prot.csv
include neofox/aa_index/aaindex1
include neofox/aa_index/aaindex2
include neofox/predictors/Tcell_predictor/amino-acids-features.pickle
include neofox/predictors/Tcell_predictor/genes-expression.pickle
include neofox/predictors/Tcell_predictor/SIRdata.mat
include neofox/predictors/Tcell_predictor/Classifier.pickle