Sphinx==5.3.0
m2r2==0.3.3
nbsphinx==0.8.9
pandoc==2.2
ipython==7.27.0
ipykernel==6.4.1
#sphinx_rtd_theme==0.5.0
#insipid_sphinx_theme==0.2.1
pydata-sphinx-theme==0.11.0
Jinja2==3.1.2
markupsafe==2.1.1
lxml-html-clean==0.1.1